* {
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}
.transparent {
  border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.navbar-brand{
  font-family:'Amatic SC', 'Raleway',cursive;
  color:white;
  font-size: 40px;
  vertical-align: middle;
}


.navbar-left>li{
  color:white;
  font-size: 16px;
  font-family: 'Didact Gothic','Raleway',sans-serif;
  padding:10px 25px 10px 25px;
  line-height: 40px;
}

#main {
  height:700px;
  background-image:url("https://idlemindss.github.io/intro-workbook/css/images/highspeed.jpeg");
  background-size: cover;
  position: relative;
  background-position:top;
  text-align: center;
  background-attachment: fixed;
  padding:none;
}

.title{
  font-size: 100px;
  text-align: center;
  font-family:'Raleway','Didact Gothic',cursive;
  color:rgba(255,255,255, 0.6);
  line-height: 200px;
  margin-top: 150px;
}

.emailRedirect {
  padding:15px 30px 15px 30px;
  margin-right: 10px;
  border: 3px white solid;
  border-radius: 0;
  font-family: 'Amatic SC', sans-serif;
  margin: 0 auto;
  background: transparent;
  font-size: 25px;
  color:white;
}

.resumeRedirect {
  padding:15px 30px 15px 30px;
  font-family: 'Amatic SC', sans-serif;
  margin: 0 auto;
  background: white;
  font-size: 25px;
  color: #507F96;
  vertical-align: bottom;
  border:2px white solid;
}

#nameDescription {
  height:550px;
  background-color: white;
}

.profilepicture {
  width: 30%;
  height:500px;
  background-image: url('https://idlemindss.github.io/intro-workbook/css/images/headshotedited.png');
  background-size: cover;
  margin-top: 20px;
  outline: 2px solid #FDDCA0;
  outline-offset: -10px;
  display: inline-block;
}

.headshotSection {
  width:40%;
  float:right;
  display: inline-block;
  margin-right: 80px;
}

.headshotSection h1 {
  font-family:'Raleway', sans-serif;
  font-weight: bolder;
  letter-spacing: 10px;
  font-size: 60px;
  margin-top: 100px;
  color:#FDDCA0;
}

.headshotSection h3 {
  color:#509AA4;
  margin: 40px 0 40px 0;
  line-height: 40px;
  font-family: 'Amatic SC', 'Raleway',serif;
  /*font-style: italic;*/
  font-size: 40px;
}

.headshotSection h5 {
  line-height: 30px;
  font-family: 'Raleway', 'Lato', sans-serif;
}
.services{
  height:500px;
  clear:both;
  font-family: 'Raleway', 'Lato', sans-serif;
  background-image: url('https://idlemindss.github.io/intro-workbook/css/images/reaching.jpeg');
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.whoweare {
  margin: 60px 0px 0px 0px;
  padding-left: 5px;
  padding-right: 5px;
  height: 350px;
}
.design {
  margin-left:-5px;
  margin-right: 5px;
}
.content {
  margin-right:-5px;
  margin-left: 5px;
}

.whoweare>h4{
  text-align: center;
  line-height: 30px;
  font-weight: lighter;
  color:white;
}

.whoweare>h3{
    font-family: 'Raleway', 'Didact Gothic',sans-serif;
    color: white;
    text-align: center;
    margin:50px 0 40px 0;
}

.aboutIcons{
  text-align: center;
  display: block;
  margin-bottom: -40px;
  color:#e5e5e5;
  margin-top: 50px;
  vertical-align: bottom;
}
.about:hover{
  animation: bounce;
}

.qualities {
  background-color: #f6f6f6;
}


.education, .skills {
  height:400px;
  text-align: center;
  font-family: 'Raleway','Lato', sans-serif;
  margin:none;
  padding-right: 20px;
}

.education>h3, .skills>h3 {
  color:#519CA7;
  margin-top: 50px;
}
.education>ul, h4 {
  list-style: none;
  text-align: left;
}

.skills>h5 {
  list-style: none;
  text-align: left;
}

.schoolIcons {
  text-align: right;
  display: inline-block;
  float:right;
  color: #E5BA7B;
}

.gpa {
  float:right;
  font-style: italic;
}
/*Styling for data cell titles*/

/*Styling for portfolio cells*/

.portfolio{
    font-family:'Raleway','Lato',sans-serif;
    letter-spacing: 40px;
    text-align: center;
    margin: 100px 0 100px 0;

}

.project a {
  text-decoration: none;
  border:2px white solid;
  padding:5px;
  color:white;
  font-family:'Raleway', 'Lato', sans-serif;
  font-size:16px;
}
.project {
  height:300px;
  /*opacity:0.7;*/
    -webkit-filter:grayscale(0%);
}
.project:hover {
  height:300px;
  filter:none;
  -webkit-filter:grayscale(100%);
  -webkit-transition: 400ms;

}

.project:hover .links{
  visibility: visible;
}

.one {
  display:inline-block;
  position:relative;
  float:left;
  background-image:url("https://idlemindss.github.io/intro-workbook/css/images/towersOfHanoiBG.jpeg");
  background-size:cover;
}
.one .links {
  display:inline-block;
  visibility: hidden;
  margin-top:100px;
  margin-left: 110px;
}

.two {
  display:inline;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/starrynight.jpg");
  background-size:cover;
  float:left;
  position:relative;
}


.two .links {
  display:inline-block;
  visibility: hidden;
  margin-top:100px;
  margin-left: 75px;
}

.three {
  display:inline;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/calmlake.jpeg");
  background-size:cover;
}
.three .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}

.four {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/wheat.jpeg");
  background-size:cover;
  float:left;
}
.four .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 100px;
}
.five {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/womanmag.png");
  background-size:cover;
}
.five .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}
.six {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/bulb.jpeg");
  background-size:cover;
  float:left;
}
.six .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}
.seven {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/sunsetwater.jpeg");
  background-size:cover;
  float:left;
}
.seven .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 110px;
}
.eight {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/creatives.png");
  background-size:cover;
  float:left;
}
.eight .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}
.nine {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/mobile-winery.png");
  background-size:cover;
  float:left;
}
.nine .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}
.ten {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/lighter.jpeg");
  background-size:cover;
  float:left;
}
.ten .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 110px;
}

.eleven {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/coffeevinyl.jpeg");
  background-size:cover;
  float:left;
}

.eleven .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 110px;
}

.twelve {
  display:inline-block;
  float:left;
  background-image: url("https://idlemindss.github.io/intro-workbook/css/images/smoking.jpeg");
  background-size:cover;
  float:left;
}

.twelve .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}

.footer>h3 {
  font-size:30px;
  font-family:'Lato', 'Open Sans', sans-serif;
  text-align:center;
  color:#2b2b2b;
  padding-top: 30px;
}
.lessons {
  text-decoration:none;
  color:white;
  font-family:'Raleway', 'Lato', sans-serif;
  text-align:center;
  font-size: 16px;
  margin-left: -70px;
  padding-top: 20px;
}

.footer{
  height:400px;
  background-color: black;

}
.footer>h3{
  color:white;
}
form>h4{
  color:white;
  font-family: 'Lato',sans-serif;
}
#contact{
  display: inline-block;
}

#button{
  text-decoration: none;
  padding:10px;
  color:white;
  background-color: #6dc6ca;
}
/* styling for scrolling animation */

.whoweare, .education, .skills {
  opacity: 0;
  -moz-transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.in-view .whoweare, .in-view .education, .in-view .skills {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);

}
.animationElements  {
  position:relative;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #faffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #faffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #faffff;
  background-color: #6dc6ca;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #6dc6ca;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #faffff;
  background-color: #6dc6ca;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #faffff;
  background-color: #6dc6ca;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #faffff;
  background-color: #6dc6ca;
}
.navbar-default .navbar-toggle {
  border-color: #6dc6ca;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #6dc6ca;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #faffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #5198A2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #faffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #faffff;
    background-color: #6dc6ca;
  }
}
@media(max-width:800px){
  .project{
    -webkit-filter:grayscale(0%);
    opacity:1;
    margin:10px;
  }
  .project .links{
    visibility: visible;
  }
  .about{
    margin-left: 330px;
  }
}
@media(max-width:500px){
  #main{
    height:400px;
    background-position: center;
  }
  #main>h1{
    font-size: 50px;
    letter-spacing: none;
    text-align: left;
    height:200px;
    width:200px;
    line-height: normal;
    margin-top: 200px;
  }
  .navbar-brand{
    font-size: 25px;
    font-family:'Yellowtail', cursive;
  }

  .services {
    background-image: url('https://idlemindss.github.io/intro-workbook/css/images/tunnel.jpeg');
    background-position: top;
  }
  .portfolio{
    letter-spacing: 10px;
  }
  .links>a{
    text-align: center;
    margin-left:0px;
    font-family: 'Lato',sans-serif;
  }
  .lessons{
    font-family:'Lato',sans-serif;
  }
  .whoweare>h3{
    font-family: 'Lato', sans-serif;
  }
}
